aniso8601
certifi
chardet
click
colorama
colorlog
DateTime
docstring-parser
emoji
Flask
Flask-Cors
Flask-RESTful
idna
isodate
itsdangerous
Jinja2
MarkupSafe
pytz
regex
requests
six
tenacity
urllib3
Werkzeug
zope.interface